In [1]:
# Import Packages 
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

# Import for plots
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sb

# Import for complex plots (like ggplot2)
from plotnine import *

In [2]:
part1 = pd.read_csv('Part 1.csv')

/Users/Meana/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning:

Columns (1,5,7,8) have mixed types. Specify dtype option on import or set low_memory=False.

In [24]:
# Read Data
part1 = pd.read_csv('Part 1.csv', skiprows=1)
part2 = pd.read_csv('Part 2.csv', skiprows=1)
part3 = pd.read_csv('Part 3.csv', skiprows=1)
part4a = pd.read_csv('Part 4a.csv', skiprows=1)
part4b = pd.read_csv('Part 4b.csv', skiprows=1)
part5 = pd.read_csv('Part 5.csv', skiprows=1)

In [25]:
# Combine the data
data = pd.concat([part1, part2, part3, part4a, part5, part5])

In [26]:
data.shape

(5395542, 9)

In [27]:
data.head()

,Geographic identifier code,Id2,Geographic area name,2012 NAICS code,Meaning of 2012 NAICS code,"Sales, receipts, or revenue size of establishments operated the entire year code","Meaning of Sales, receipts, or revenue size of establishments operated the entire year code",Year,Number of establishments
0,8610000US06001,6001,"ZIP 06001 (Avon, CT)",44-45,Retail trade,1,All establishments,2012,81
1,8610000US06001,6001,"ZIP 06001 (Avon, CT)",44-45,Retail trade,2,Establishments operated for the entire year,2012,68
2,8610000US06001,6001,"ZIP 06001 (Avon, CT)",44-45,Retail trade,123,Establishments operated entire year with sales...,2012,4
3,8610000US06001,6001,"ZIP 06001 (Avon, CT)",44-45,Retail trade,125,Establishments operated entire year with sales...,2012,8
4,8610000US06001,6001,"ZIP 06001 (Avon, CT)",44-45,Retail trade,131,Establishments operated entire year with sales...,2012,20

In [17]:
data['YEAR.id'].unique()

array(['Year', '2012', 2012], dtype=object)